body {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: #1a202c; /* Dark background color */
    color: white; /* Light text color */
  }
  
  
  /* Add more styles as needed for other components */
  